version: '3.8'

services:
  postgres: 
    image: postgres:16-alpine
    container_name: tienda_david_postgres
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: root
      POSTGRES_DB: tienda_david_db 
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: tienda_david_redis
    ports:
      - "6379:6379"


volumes:
  postgres_data: